body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(109, 172, 236);

}
.titel{
    font-family: "Schriftart", serif;
    font-size: 300%;
    color: white;
    text-align: center;
    direction: center;	animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;


}
.logo {

    display: flex;
    justify-content: center;
    margin: auto;

}
.logo img {
    border-radius: 75%;
    border: 5px solid rgb(255, 255, 255);
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.center1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;

}
.table{
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 1%;


}
.button{
    background-color: transparent;
    border: 4px solid #ffffff;
    border-radius: 6%;
    width: 1000px;
    height: 200px;
    font-size: 100px;
    font-family: "Schriftart", serif;

    color: #ffffff;
    transition: transform 0.5s;
    cursor: pointer;
    animation: fade-in 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.button:hover{
    background-color: transparent;
    border: 4px solid #ffffff;
    border-radius: 6%;
    width: 1000px;
    height: 200px;
    font-size: 100px;
    font-family: Arial;
    color: #ffffff;
    transform: scale(1.1s);
    font-family: "Schriftart", serif;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.instaimg{
    width: 500px;
    height: 500px;
    transition: 0.5s;
    border: 5px solid white;

}
.instaimg:hover{
    transform:  scale(1.1);
    border: 5px solid white;
}

@font-face {
font-family: 'Schriftart';
src: url("louis_george_cafe/Louis George Cafe Light.ttf");
}



