<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Rentschler Biopharma</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="icon" href="../static/pics/img.png" type="image/x-icon">

</head>
<body>
<div class="logo">
  <img src="../static/pics/img.png" height="322" width="322" alt="kek"/>
</div>

<table>
  <tr>
      <td><img src="../static/pics/InstragramIcon.png" alt="Our Instagram Profile"></td>
      <td><img src="../static/pics/LinkedInIcon.png" alt="Our Instagram Profile"></td>
      <td><img src="../static/pics/FacebookIcon.png" alt="Our Instagram Profile"></td>
      <td><img src="../static/pics/YoutubeIcon.png " alt="Our Instagram Profile"></td>
  </tr>
</table>



<div class="titel">
  <h1>Rentschler Biopharma</h1>
  <h3>Klick dich durch unseren Feed!</h3>
</div>



























<div class="table">
  <table id>
    <tr>
    </tr>
  </table>
</div>

<div class="image_container"></div>
</body>
</html>